
    <div id="wrapper">
      <section>
        <%= image_tag "my_face.jpg", :width => "200",  :height => "200", :class => "profile-photo" %>
        <h3>About</h3>
        <p>Web Development. That's my thing.</p>
          <p>Three months at The Iron Yard Nashville and then...BAAAM!...Career for life.</p>
      </section>
    </div>
