


      <section id='primary'>
        <h3>General Information</h3>
        <p>I like web development and sacks filled with money. Or jewels. Or gold, or donuts, or whatever. If you have any questions, please feel free to contact me!</p>
        <p>Please use phone contact for urgent inquiries only. Otherwise, please communicate by messenger. I mean literally send over a person who will tell me your message.</p>
      </section>

      <section id= 'secondary'>
        <h3>Contact Details</h3>
        <ul class='contact-info'>
          <li class='phone'><a href='tel:615.573.2436'>615.573.2436</a></li>
          <li class='mail'><a href='mailto:CaptainThankYou@example.com'>hLeePage@yahoo.com</a></li>
          <li class='twitter'><a href='http://twitter.com/intent/tweet?screen_name=oldgreg'>What's Twitter?</a></li>
        </ul>
      </section>
